<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find Your Weather</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header">
        <h1>Find Your Weather</h1>
    </div>
    <div class="form">
        {% with message = get_flashed_messages() %}
        {% if message %}
            <div class="alert alert-primary" role="alert">
                {{message[0]}}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/add">
            <input type="text" placeholder="Enter a city name" name="city_name" id="input-city">
            <button type="submit" class="submit-button">Add</button>
        </form>
    </div>
    <div class="cards">
        {% if data %}
            {% for i in data %}
                <div class="card {{ i.time }}">
                    <div class="delete-wrapper">
                        <form action="/delete/{{ i.id }}" method="POST">
                            <input type="hidden" name="id" value="{{ i.id }}">
                            <button class="delete-button" type="submit">&#10006;</button>
                        </form>
                    </div>
                    <div class="rt">{{ i.th }}</div>
                    <div class="degrees">{{ i.degrees }} °C</div>
                    <div class="state">{{ i.state }}</div>
                    <div class="city">{{ i.city }}</div>
                </div>
            {% endfor %}
        {% else %}
            <div></div>
        {% endif %}
    </div>
</body>
</html>