<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find Your Weather</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header">
        <h1>Find Your Weather</h1>
    </div>
    <div class="form">
        <form method="POST" action="/add">
            <input type="text" placeholder="Enter a city name" name="city_name" id="input-city">
            <button type="submit" class="submit-button">Add</button>
        </form>
        <p style="color: rebeccapurple">Enter the city name to display it's related weather data...</p>
    </div>
    <div class="cards">
    </div>
</body>
</html>